In [1]:
#libraries
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

/home/prince/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/prince/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

# Liver Patients - Logistic Regression
Objective
Patients with liver disease have been continuously increasing because of excessive consumption of alcohol, inhale of harmful gases, intake of contaminated food, pickles and drugs. In an effort to reduce burden on doctors, the government has hired you as a data scientist to build a predictive machine learning that would give an indication whether a person would have liver problem or not. Now, as a data scientist, your goal is to build a logistic machine learning model that predicts whether a patient is healthy (non liver patient) or ill (liver patient) based on some clinical and demographic features (or input variables) listed in the 'Data Description' section.

Dataset & Data Description
This data set contains liver patient records and non liver patient records collected from North East of Andhra Pradesh, India. The "Liver_Problem" column is the target variable used to divide groups into liver patient ( Liver_Problem == 1) or not ( Liver_Problem == 2).

Liver_Problem == 1, implies the individual is a liver patient
Liver_Problem == 2, implies the individual is not a liver patient
To load the dataset in your jupyter notebook, use the below command:

import pandas as pd
liver_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_dataset.csv')

# Data Description:

### Age of the patient
### Gender of the patient
### Total Bilirubin
### Direct Bilirubin
### Alkaline Phosphotase
### Alamine Aminotransferase
### Aspartate Aminotransferase
### Total Protiens
### Albumin
### Albumin and Globulin Ratio
### "Liver_Problem" column is the target variable used to divide groups into liver patient (liver disease) or not (no disease).
Some of the data are slightly technical, you may refer online resources to learn more about them.

In [2]:
liver_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_dataset.csv')

In [3]:
liver_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
Age                           500 non-null int64
Gender                        500 non-null object
Total_Bilirubin               500 non-null float64
Direct_Bilirubin              500 non-null float64
Alkaline_Phosphotase          500 non-null int64
Alamine_Aminotransferase      500 non-null int64
Aspartate_Aminotransferase    500 non-null int64
Total_Protiens                500 non-null float64
Albumin                       500 non-null float64
Albumin_and_Globulin_Ratio    496 non-null float64
Liver_Problem                 500 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 43.1+ KB

In [4]:
liver_data.shape

(500, 11)

In [5]:
liver_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Liver_Problem
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [6]:
# 1 for liver patients and 2 implies not a patients
liver_data['Liver_Problem'].value_counts()

1    350
2    150
Name: Liver_Problem, dtype: int64

In [9]:
# why only albumin in and globin ratio is checking  for null values bcz in data info this col has only 496 count 
#intead of 500 total count 
liver_data[liver_data['Albumin_and_Globulin_Ratio'].isnull()]

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Liver_Problem
209,45,Female,0.9,0.3,189,23,33,6.6,3.9,NaN,1
241,51,Male,0.8,0.2,230,24,46,6.5,3.1,NaN,1
253,35,Female,0.6,0.2,180,12,15,5.2,2.7,NaN,2
312,27,Male,1.3,0.6,106,25,54,8.5,4.8,NaN,2

In [12]:
#replacing Null value with mean
liver_data.Albumin_and_Globulin_Ratio.fillna(liver_data['Albumin_and_Globulin_Ratio'].mean(),inplace= True)

In [14]:
# gender cols has string value so we need to convert into int(male ==1 and female==0)
le = LabelEncoder()
liver_data.Gender = le.fit_transform(liver_data.Gender)
liver_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Liver_Problem
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [20]:
# separating input and target variable
# x is input variable and y is output that is we need to predict so we drop liver problem data from input varible 
X = liver_data.drop('Liver_Problem',axis =1)

#target variable
y= liver_data['Liver_Problem']

In [21]:
#Split data into test and train
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 ,random_state = 101)

In [34]:
## building logistic Regression
model = LogisticRegression()

In [35]:
model.fit(X_train , y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
prediction = model.predict(X_test)

In [38]:
from sklearn.metrics import confusion_matrix
tn,fp,fn,tp = confusion_matrix(y_test,prediction).ravel()
print('True Positive',tp)
print('True Negative',tn)
print('False Positive',fp)
print('False Negative',fn)

True Positive 5
True Negative 61
False Positive 5
False Negative 29

In [39]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction)

0.66

In [40]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_new_testdataset.csv')

In [41]:
test_new.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.7
1,42,Male,0.8,0.2,127,29,30,4.9,2.7,1.2
2,53,Male,19.8,10.4,238,39,221,8.1,2.5,0.4
3,32,Male,30.5,17.1,218,39,79,5.5,2.7,0.9
4,32,Male,32.6,14.1,219,95,235,5.8,3.1,1.1

In [42]:
le =LabelEncoder()
test_new.Gender =le.fit_transform(test_new.Gender)
test_new.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,36,1,2.8,1.5,305,28,76,5.9,2.5,0.7
1,42,1,0.8,0.2,127,29,30,4.9,2.7,1.2
2,53,1,19.8,10.4,238,39,221,8.1,2.5,0.4
3,32,1,30.5,17.1,218,39,79,5.5,2.7,0.9
4,32,1,32.6,14.1,219,95,235,5.8,3.1,1.1

In [43]:
Liver_Problem = model.predict(test_new)

In [44]:
# Downloading pred values
result = pd.DataFrame(Liver_Problem)
result.index = test_new.index # its important for comparison
result.columns = ["prediction"]
result.to_csv("prediction_results_LiverProblem.csv")      # the csv file will be saved locally on the same location where this notebook is located.